@import "tailwindcss";
@plugin 'flowbite-react/plugin/tailwindcss';

@source '../.flowbite-react/class-list.json';
@source '../../node_modules/flowbite-react';
@source '../../node_modules/flowbite-datepicker';
@source '../../node_modules/flowbite';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-gray-200;
    }
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F3F4F6;
}

html.dark body {
    background-color: #1F2937; /* Tailwind gray-900 */
}

/* Toolbar */
.rbc-toolbar {
    @apply flex justify-between items-center mb-4;
}

.rbc-toolbar-label {
    @apply rounded-md px-3 py-1 font-medium  text-black dark:text-white;
}

.rbc-btn-group button {
    @apply bg-black dark:text-white text-black px-3 py-1 rounded-md border border-gray-700;
}
.rbc-btn-group button.rbc-active {
    @apply bg-white text-black dark:bg-gray-200 dark:text-gray-900;
}

.countryselect div input  {
    border: none !important;
    border-radius: 0 8px 8px 0 !important;
    /*border-radius: 0px!important;*/
}

@keyframes loading-bar {
    0% {
        transform: translateX(-100%);
        width: 100%;
    }
    50% {
        transform: translateX(0%);
        width: 100%;
    }
    100% {
        transform: translateX(100%);
        width: 100%;
    }
}

.animate-loading-bar {
    animation: loading-bar 1s ease-in-out infinite;
}
